:root{
    --mainactivecolor: #EA5729;
    --mainactivelinkcolor: #ea562997;
    --mainactiveopacitycolor: #ea562931;
    --maingreencolor:  #85BA40;
    --maintextcolor :  #1A1A1A;
    --navactivecolor: #fff;
    --inputbg:#F1F3F4;
    --levelfour: #8D8D8D;
    --colorgray:#9199a0;
    --sectionbg:#fad7c949;

}
