/* Proxima Nova */
@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proximanova_regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proximanova_light.otf);
    font-weight: 300;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proximanova_bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proximanova_extrabold.otf);
    font-weight: 800;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proximanova_black.ttf);
    font-weight: 900;
}
